.gallery{
    
   @media (max-width: 2560px){
            padding-top: 145px;   
     }
     
     @media (max-width: 1024px){
            padding-top: 123px;   
     }
     
      @media (max-width: 768px){
            padding-top: 101px;   
     }
     
     @media (max-width: 425px){
            padding-top: 65px;   
     }
    
    > h2{
        display: block;
        text-align: center;
        color: #fff;
        background-color: #0063b3;
        border: 3px solid orange;
        border-radius: 10px;
        font: 700 30px/1 'Roboto Condensed', sans-serif;
        margin-bottom: 0;
        width: max-content;
        padding: 0 15px;
    }
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0 0 3px;

        @media (max-width: 768px){
             text-align: center;
              }
    }
    
    li{
        margin: 15px 0;
     }
     

    
    a{
        display: block;
        text-align: center;
        
        &:hover{
            text-decoration: none;
        }
        
    }
}

.veja-lista{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    
    @media (max-width: 992px){
        display: block;
    }
    
    li{
        width: 10%;
        
        @media (max-width: 992px){
            display: inline-block;
            margin: 5px 2%;
            width: 45%;
        }
    }
    
    a{
        padding-left: 0;
        padding-right: 0;
        width: 90px;

           @media (max-width: 992px){
           width: 310px;
           text-align: center;
              }


           @media (max-width: 736px){
           width: 310px;
           text-align: center;
              }


           @media (max-width: 678px){
           width: 269px;
           text-align: center;
           }


            @media (max-width: 574px){
           width: 198px;
           text-align: center;
           margin-left: 25px;
           }


            @media (max-width: 491px){
           width: 156px;
           text-align: center;
           margin-left: 28px;
           }


            @media (max-width: 491px){
           width: 156px;
           text-align: center;
           margin-left: 28px;
           }



            @media (max-width: 438px){
           width: 156px;
           text-align: center;
           margin-left: 11px;
           }



            @media (max-width: 381px){
           width: 139px;
           text-align: center;
           margin-left: 5px;
           }


           @media (max-width: 328px){
           width: 120px;
           text-align: center;
           }


            @media (max-width: 290px){
           text-align: center;
           margin-left: -2px;
           }



    }



}



.list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    
    @media (max-width: 992px){
        display: block;
    }
      
    
    a{
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 40px;



           @media (max-width: 768px){
            display: inline-block;
             text-align: center;
              }



            @media (max-width: 425px){
                display: block;
                text-align: center;
           }



            @media (max-width: 375px){
           text-align: center;
           }


           @media (max-width: 320px){
           margin-left: 6px;
           width: auto;
           height: auto;
           text-align: center;
           }

    }
    
}

.btn-galery{
    background: #0063b3;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;

     @media (max-width: 768px){
        line-height: 30px;
        text-align: center;
        font-size: 15px;
     }
}

.btn-galery:link,
.btn-galery:visited {
   color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    transition: all .2s;
    position: relative;
}

.btn-galery:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-galery:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-galery-white {
    background-color: #0063b3;
    color: #777;
}

.btn-galery::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-galery-white::after {
    background-color: #025293;
}

.btn-galery:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-galery-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.arquivocor{
    font-weight: bold;
    font-size: 30px;
    color: inherit;
    padding: 0 15px;

    

    > h2{
    font-weight: bold;
    color: #FF6600;
    padding: 0 15px;
    }
    }


.bor:hover{
  display: block;
  background: #0063b3;
  color: white;
  box-sizing: border-box;
  border: 3px solid #FF6600;
  padding: 20px 0;
    
}



.display h2{
    display: block;
    text-align: center;
    color: #fff;
    background-color: #0063b3;
    border: 3px solid orange;
    border-radius: 10px;
    font: 700 30px/1 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
    width: max-content;
    padding: 0 15px;
    }


.display ul{
    display: grid;
    list-style: none;
    grid-template-areas: 
    "li li li li";
    justify-content: center;
    

    a{
        text-decoration: none;
    }

    p{
        margin-top: 5px;
        text-align: center;
    }

    li{
        width: 205px;
        padding: 0;
        margin: 15px;
        list-style: none; 
     }

     @media(max-width: 991px) {
        grid-template-areas: 
            "li li";
            }
    
    
    @media(max-width: 1085px) {
        grid-template-areas: 
            "li li";
            }
    
    
    @media(max-width: 610px) { 
        justify-content:space-around;
        grid-template-areas: 
            "li";
        }

    
}


